In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset = dataset.astype(int)

In [4]:
dataset

      age  bmi  children  charges  sex_male  smoker_yes
0      19   27         0    16884         0           1
1      18   33         1     1725         1           0
2      28   33         3     4449         1           0
3      33   22         0    21984         1           0
4      32   28         0     3866         1           0
...   ...  ...       ...      ...       ...         ...
1333   50   30         3    10600         1           0
1334   18   31         0     2205         0           0
1335   18   36         0     1629         0           0
1336   21   25         0     2007         0           0
1337   61   29         0    29141         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [7]:
dependent=dataset[['charges']]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [21]:
!pip install xgboost

Requirement already satisfied: xgboost in c:\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from xgboost) (2.1.3)
Requirement already satisfied: scipy in c:\anaconda3\lib\site-packages (from xgboost) (1.15.3)

In [43]:
from xgboost import XGBRegressor
regressor=XGBRegressor(objective="reg:absoluteerror", n_estimators=100)
regressor=regressor.fit(x_train,y_train)

In [44]:
y_pred=regressor.predict(x_test)

In [45]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [46]:
r_score

0.8715732097625732